body {
    background: #ECEFF1;
    color: rgba(43, 40, 40, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.widget {
    padding-bottom: 10px;
}

.widget .title {
    font-size: medium;
    display: block;
    text-align: start;
    background: #039be5;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.achievement,
.education,
.experience {
    display: inline;
    text-align: start;
}

.achievement li,
.education li,
.experience li {
    font-size: small;
    padding: 2px 0 0 10px;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 2px;
    text-align: justify;
    margin-left: 20px;
}

.achievement li {
    list-style: '🏆';
}

.education li {
    list-style: '🎓';
}

.experience li {
    list-style: '🏌';
}

.education li span {
    display: inline-block;
    min-width: 40px;
}

.education li span:nth-child(2) {
    padding: 0 10px;
}

.experience li span {
    display: inline-block;
}

.experience li span:nth-child(2)::before {
    content: '@';
    padding: 0 4px;
}

.experience li span:nth-child(3) {
    display: block;
    padding: 4px 0;
}

.achievement li span:nth-child(1),
.education li span:nth-child(1),
.experience li span:nth-child(1) {
    color: rgb(3, 66, 184);
}