#message {
  background: white;
  max-width: 360px;
  margin: 50px auto 16px;
  padding: 24px 16px;
  border-radius: 3px; }
  #message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px; }
  #message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px; }
  #message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
    text-align: justify; }

.auth {
  margin: -24px -15px 22px;
  background-color: #ECEFF1;
  padding: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: right; }
  .auth input {
    border: solid thin #039be5;
    padding: 1px;
    margin: 0 1px;
    max-width: 130px; }
  .auth .input-error {
    border-color: red; }
  .auth .user-name {
    text-transform: capitalize;
    font-weight: bold; }
  .auth a {
    display: inline-block;
    text-align: center;
    background-color: #039be5;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: small;
    cursor: pointer;
    margin: 0 1px; }

#message,
.auth a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.profile-picture img {
  display: inline-block;
  border-radius: 50%;
  border: solid thick floralwhite;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: 150px;
  max-height: 150px;
  max-width: 150px; }

@media (max-width: 600px) {
  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none; }
  body {
    border-top: 8px solid #ffa100; } }
