@import 'variables.scss';
#message {
    background: white;
    max-width: 360px;
    margin: 50px auto 16px;
    padding: 24px 16px;
    border-radius: 3px;
    h1 {
        font-size: 22px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 0 16px;
    }
    h2 {
        color: $SECONDARY_COLOR;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 8px;
    }
    p {
        line-height: 140%;
        margin: 16px 0 24px;
        font-size: 14px;
        text-align: justify;
    }
}

.auth {
    margin: -24px -15px 22px;
    background-color: $PRIMARY_BG_COLOR;
    padding: 2px;
    box-shadow: $BOX_SHADOW;
    text-align: right;
    input {
        border: solid thin $PRIMARY_COLOR;
        padding: 1px;
        margin: 0 1px;
        max-width: 130px;
    }
    .input-error {
        border-color: red;
    }
    .user-name {
        text-transform: capitalize;
        font-weight: bold;
    }
    a {
        display: inline-block;
        text-align: center;
        background-color: $PRIMARY_COLOR;
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: small;
        cursor: pointer;
        margin: 0 1px;
    }
}

#message,
.auth a {
    box-shadow: $BOX_SHADOW;
}

.profile-picture img {
    display: inline-block;
    border-radius: 50%;
    border: solid thick floralwhite;
    box-shadow: $BOX_SHADOW;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
}

@media (max-width: 600px) {
    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
    body {
        border-top: 8px solid $SECONDARY_COLOR;
    }
}