@import 'variables.scss';
body {
    background: $PRIMARY_BG_COLOR;
    color: rgba(43, 40, 40, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.widget {
    padding-bottom: 10px;
    .title {
        font-size: medium;
        display: block;
        text-align: start;
        background: $PRIMARY_COLOR;
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        padding: 4px;
        border-radius: 4px;
        box-shadow: $BOX_SHADOW;
        text-shadow: $TEXT_SHADOW;
    }
    .title::before {
        float: right;
        padding-right: 5px;
    }
    ul {
        display: inline;
        text-align: start;
    }
    li {
        font-size: small;
        padding: 2px 0 0 5px;
        border-bottom: 1px solid aliceblue;
        margin-bottom: 2px;
        text-align: justify;
        margin-left: 0px;
        list-style: none;
    }
    li::before {
        padding-right: 10px;
    }
}

.stars {
    .star {
        display: inline;
        color: $PRIMARY_BG_COLOR;
    }
    .star::before {
        content: '☀';
        font-size: large;
        padding: 0 5px;
        text-shadow: $TEXT_SHADOW;
    }
    .star.active {
        color: $PRIMARY_COLOR;
    }
}

.skillset {
    .title::before,
    li::before {
        content: '✨';
    }
    li {
        span {
            display: inline-block;
            min-width: 100px;
        }
    }
}

.achievement {
    .title::before,
    li::before {
        content: '🏆';
    }
}

.education {
    .title::before,
    li::before {
        content: '🎓';
    }
    li {
        span {
            display: inline-block;
            min-width: 40px;
        }
        span:nth-child(2) {
            padding: 0 10px;
        }
    }
}

.experience {
    .title::before,
    li::before {
        content: '🏄';
    }
    li {
        span {
            display: inline-block;
        }
        span:nth-child(2) {
            position: relative;
            font-weight: bold;
            color: #AAA;
        }
        span:nth-child(2)::before {
            content: '@';
            padding: 0 4px;
            font-size: smaller;
        }
        span:nth-child(3) {
            display: block;
            padding: 4px 24px;
        }
    }
}

.skillset,
.education,
.experience {
    li {
        span:nth-child(1) {
            color: $PRIMARY_COLOR;
            font-weight: bold;
        }
    }
}